[run]
branch = True
source = backend

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if __name__ == "__main__":
    raise AssertionError
    raise NotImplementedError
    import uvicorn
